FOR LOOP

In [3]:
exp=[2340,2500,2100,3100,2980]
Total=0
for item in exp:
    Total=Total+item
print ('Total expense is: ',Total)

Total expense is:  13020

PRINT 1 TO 10 USING RANGE()

In [5]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [11]:
Total=0
for num in range(1,11):
    Total=Total+num
print(Total)

55

PRINT SQUARE OF 1 TO 10 USING RANGE()

In [8]:
for num in range(1,11):
    print(num*num)

1
4
9
16
25
36
49
64
81
100

IN OUR MONTHLY EXPENSE EXAMPLE ,PRINT MONTH NUMBER AND EXPENSE AND THEN IN THE END PRINT TOTAL EXPENSE.

In [13]:
exp=[2340,2500,2100,3100,2980]

total=0
for item in range(len(exp)):
    print('Month:',(item+1),'Expense:',exp[item])
    total=total+exp[item]
print('Total expense is:',total)

Month: 1 Expense: 2340
Month: 2 Expense: 2500
Month: 3 Expense: 2100
Month: 4 Expense: 3100
Month: 5 Expense: 2980
Total expense is: 13020

SEARCH FOR LOST CAR KEY IN HOME AND WHEN FOUND STOP SEARCHING.

In [15]:
key_location='chair'
locations=['garage','living room','chair','closet']
for location in locations:
    if location==key_location:
        print('Key is found in',location)
        break
    else:
        print('Key is not found in ',location)

Key is not found in  garage
Key is not found in  living room
Key is found in chair

PRINT SQUARE OF NUMBERS BETWEEN 1 TO 5 EXCEPT EVEN NUMBERS.

In [17]:
for num in range(1,6):
    if num%2==0:
        continue
    print (num*num)

1
9
25

WHILE LOOP

In [19]:
num=1
while num<=5:
    print(num)
    num=num+1

1
2
3
4
5